{% extends "app/customer/base1.html" %}
{% block content %}
{% load static %}
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{p_data.property_name}}</h1>
            <span class="color-text-a">{{p_data.property_address}}</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'homepage' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'property_grid_data' %}">Properties</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{p_data.property_name}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Single Star /-->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
        <!---
            <div class="carousel-item-b">
              <img src="{{MEDIA_URL}}{{p_data.property_pic1.url}}" alt="">
            </div>
        -->
        
            <div class="carousel-item-b">
              <img src="{{MEDIA_URL}}{{p_data.property_pic2.url}}" alt="">
            </div>
        
            <div class="carousel-item-b">
              <img src="{{MEDIA_URL}}{{p_data.property_pic3.url}}" alt="">
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="ion-money">Rs.</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c">{{p_data.property_price}}</h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Quick Summary</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Property ID:</strong>
                      <span>{{p_data.property_id}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Location:</strong>
                      <span>{{p_data.property_address}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Property Type:</strong>
                      <span>{{p_data.property_type}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Status:</strong>
                      <span>Sale</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Area:</strong>
                      <span>{{p_data.property_area_range}}
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Beds:</strong>
                      <span>{{p_data.property_beds_seat}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Baths:</strong>
                      <span>{{p_data.property_baths}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Garage:</strong>
                      <span>{{p_data.property_garage}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Property Description</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                 {{p_data.property_description}}
                </p>
              
              </div>
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Amenities</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin">
                  <li>{{p_data.property_balcony}}</li>
                  <li>{{p_data.property_outdoor_kitchen}}</li>
                  <li>{{p_data.property_cable_tv}}</li>
                  <li>{{p_data.property_deck}}</li>
                  <li>{{p_data.property_tennis_courts}}</li>
                  <li>{{p_data.property_internet}}</li>
                  <li>{{p_data.property_parking}}</li>
                  <li>{{p_data.property_sun_room}}</li>
                  <li>{{p_data.property_concreate_flooring}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 offset-md-1">
          <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab"
                aria-controls="pills-video" aria-selected="true">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#pills-plans" role="tab" aria-controls="pills-plans"
                aria-selected="false">Floor Plans</a>
            </li>
           
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
              <video width="100%" height="460" controls>
                <source src="{{MEDIA_URL}}{{p_data.property_video.url}}" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
              </video>
            </div>
            <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
              <img src="{{MEDIA_URL}}{{p_data.property_floor_plan.url}}" alt="" class="img-fluid">
            </div>
            
          
          </div>
        </div>
        <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">Contact Agent</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <img src="{{MEDIA_URL}}{{p_data.agent_profile_pic.url}}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                <h4 class="title-agent">{{p_data.agent_firstname}} {{p_data.agent_lastname}}</h4>
                <p class="color-text-a">
                 {{p_data.agent_biodata}}
                </p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    <strong>Mobile:</strong>
                    <span class="color-text-a">{{p_data.agent_contact}}</span>
                  </li>
                
                  <li class="d-flex justify-content-between">
                    <strong>Email:</strong>
                    <span class="color-text-a">{{p_data.agent_email}}</span>
                  </li>
                  
                </ul>
                
              </div>
            </div>
           
            <div class="col-md-12 col-lg-4">
              <div class="property-contact">     
              </div>
            </div>
          </div>
        </div> 
      </div>
      <br/>
      <br/>
      {% if request.session.role == "Customer" %}
      <h2>Do you want this property then Click on <a style="color: blue;" href="{% url 'property_apply_page' pk=p_data.id %}"><u>Request Form</u></a></h2>
      {% else %}
      <h2>Do you want this property then Click on <a style="color: blue;" href="{% url 'loginpage' %}"><u>Request Form</u></a></h2>
      {% endif %}
    </div>
  </section>
  <!--/ Property Single End /-->

 {% endblock %}