{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Signup</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static '/owner/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static '/owner/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static '/owner/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static '/owner/images/favicon.png' %}" />
</head>

<body>
 
  
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      
  
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
         
          <div class="col-lg-4 mx-auto">
          
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                {% if msg %}
                  <center><h5 style="color: red;"> {{msg}}</h5></center>
                {% endif %}
                <h3 class="text-primary m-0">Real Estate </h3>
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
              <form class="pt-3" action="{% url 'registeruser' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <select  name="role" class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>Select Role</option>
                    <option>Customer</option>
                    <option>Agent</option>
                   
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" name="fname" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="First Name">
                </div>
                <div class="form-group">
                  <input type="text" name="lname" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                </div>
               
                <div class="form-group">
                  <input type="password" name="pass" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" name="cpass" class="form-control form-control-lg" id="exampleInputPassword1" placeholder=" Confirm Password">
                </div>
             
                <div class="mt-3">
                  <input  type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="SIGN UP">
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="{% url 'loginpage' %}" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{% static '/owner/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static '/owner/js/off-canvas.js' %}"></script>
  <script src="{% static '/owner/js/hoverable-collapse.js' %}"></script>
  <script src="{% static '/owner/js/template.js' %}"></script>
  <script src="{% static '/owner/js/settings.js' %}"></script>
  <script src="{% static '/owner/js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
