
{% extends "app/agent/base1.html" %}
{% block content %}
{% load static %}
 <!-- Favicons -->
 <link href="{% static 'customer/img/favicon.png' %}" rel="icon">
 <link href="{% static 'customer/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

 <!-- Bootstrap CSS File -->
 <link href="{% static 'customer/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

 <!-- Libraries CSS Files -->
 <link href="{% static 'customer/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
 <link href="{% static 'customer/lib/animate/animate.min.css' %}" rel="stylesheet">
 <link href="{% static 'customer/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
 <link href="{% static 'customer/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

 <!-- Main Stylesheet File -->
 <link href="{% static 'customer/css/style.css' %}" rel="stylesheet">
<main id="main">
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Site Map Us</h1>
            <span class="color-text-a">
              This is website Addres location . 
            </span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'agenthomepage' %}">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Site Map Us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-map box">
            <div id="map" class="contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.300068286679!2d72.94837321440586!3d20.940461496163845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0f6541173178f%3A0x6bb12c948c33e2fc!2sS%20S%20Agrawal%20College%2C%20Navsari!5e0!3m2!1sen!2sin!4v1657894195233!5m2!1sen!2sin"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      
       
      </div>
    </div>
  </section>
  <!--/ Contact End /-->
</main>
<!-- JavaScript Libraries -->
<script src="{% static 'customer/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'customer/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'customer/lib/popper/popper.min.js' %}"></script>
<script src="{% static 'customer/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'customer/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'customer/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'customer/lib/scrollreveal/scrollreveal.min.js' %}"></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'customer/contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'customer/js/main.js' %}"></script>

{% endblock %} 