{% extends "app/admin/base1.html" %}
{% block content %}
{% load static %}

        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'table/css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<main id="main">
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Agent contact List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'admin_home_page' %}">Home</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                This is the agent contact list and posted by the agent user data .
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Agent contact List
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Agent address</th>
                                            <th>country</th>
                                            <th>Gender</th>
                                            <th>Pincode</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                    
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Agent address</th>
                                            <th>country</th>
                                            <th>Gender</th>
                                            <th>Pincode</th>                                           
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    {% if agnt %}
                                    <tbody>
                                        {% for i in agnt %}
                                        <tr>
                                       
                                            <td>{{i.agent.firstname}} {{i.agent.lastname}}</td>
                                                                                     
                                            <td>{{i.agent.city}}</td>
                                            <td>{{i.agent.state}}</td>
                                            <td>{{i.agent.address}}</td>
                                            <td>{{i.agent.country}}</td>
                                            <td>{{i.agent.gender}}</td>
                                            <td>{{i.agent.pincode}}</td>
                                            <td>{{i.subject}}</td>
                                            <td>{{i.message}}</td>
                                            <td>
                                                <form action="{% url 'admin_agent_contact_data_delete' pk=i.id %}" method="POST">
                                                {% csrf_token %}
                                                    <input type="submit" name="delete" value="Delete" id="">
                                                </form>
                                            </td>
                                           
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'table/js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'table/js/datatables-simple-demo.js' %}"></script>

{% endblock %}