{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Agent Page </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'agent/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'agent/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'agent/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'agent/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'agent/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'agent/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'agent/assets/css/style.css' %}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: iPortfolio - v3.8.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
    
    {% if request.session.username == "Kishan Maurya" %}
      <div class="profile">
        <img src="{% static 'agent/assets/img/kishan-123456.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'admin_home_page' %}">{{request.session.username}}</a></h1>
      </div>
    {% elif request.session.username == "admin" %}
      <div class="profile">
        <img src="{% static 'agent/assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'admin_home_page' %}">{{request.session.username}}</a></h1>
      </div>
    {% else %}
       <div class="profile">
        <img src="{% static 'agent/assets/img/slide-1.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'admin_home_page' %}">{{request.session.username}}</a></h1>
      </div>
    {% endif %}

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'admin_home_page' %}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          {% if request.session.username %}
          <li><a href="{% url 'admin_log_out' %}" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>Logout</span></a></li>
          {% endif %}
          <li><a href="{% url 'admin_customer_page' %}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Customer List</span></a></li>
          <li><a href="{% url 'admin_agent_page' %}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Agent List</span></a></li>          
          <li><a href="{% url 'admin_agent_contact' %}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Agent contact List</span></a></li>          
          <li><a href="{% url 'admin_customer_contact' %}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Customer contact List</span></a></li>           
         </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

{% block content %}

{% endblock %}

 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy;<strong><span>Welcome Admin Home Page</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by Kishan maurya 
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'agent/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'agent/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'agent/assets/js/main.js' %}"></script>
</body>

</html>
